<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <style>
        body {
            background-color: #0288D1;
            color: #ffffff;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .button-container {
            margin-top: 20px;
        }

        .button {
            background-color: #03a9f4;
            color: #ffffff;
            border: none;
            padding: 15px 30px;
            margin: 10px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #448aff;
        }
    </style>
</head>

<body>
    <h1>Welcome, Admin!</h1>
    <div class="button-container">
        <button class="button" onclick="window.location.href='/admins/addAdmin/<%= userId %>'">Add Admin</button>
        <button class="button" onclick="window.location.href='/admins/deleteAdmin/<%= userId %>'">Remove An
            Admin</button>
        <button class="button" onclick="window.location.href='/admins/deleteDoctor/<%= userId %>'">Remove a
            Doctor</button>
        <button class="button" onclick="window.location.href='/admins/deletePatient/<%= userId %>'">Remove a
            Patient</button>
        <button class="button" onclick="window.location.href='/admins/viewUnregisteredDoctors/<%= userId %>'">View
            Doctor
            Applications</button>
        <button class="button" onclick="window.location.href='/admins/packageManagement/<%= userId %>'">Package
            Management</button>
    </div>
</body>

</html>