<% if (locals.doctors && doctors.length > 0) { %>
    <ul>
        <% doctors.forEach(doctor => { %>
            <li class="doctor-item">
                <h2><%= doctor.name %></h2>
                <p><strong>Session Price:</strong> $<%= doctor.sessionPrice %></p>
                <p><strong>Specialty:</strong> <%= doctor.specialty %></p>
                <a href="patients/selectdoctor/<%= userID %>/<%= doctor._id %>" class="select-button">Submit</a>
                <a href="#" class="select-button" onclick="chooseDoctor('<%= doctor._id %>')">Choose this doctor</a>
            </li>
            <div class="divider"></div>
        <% }); %>
    </ul>
<% } else { %>
    <p>No doctors found in the database.</p>
<% } %>

<script>
       async function chooseDoctor(doctorId) {
        try {
            const response = await fetch(`/api/select-doctor/${doctorId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ doctorId: doctorId })
            });
            
            if (response.ok) {
                console.log('Doctor selected successfully');
                // Perform actions after successfully selecting the doctor if needed
            } else {
                console.error('Error selecting doctor');
                // Handle errors if necessary
            }
        } catch (error) {
            console.error(error);
            // Handle network or other errors if necessary
        }
    }
</script>
