<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Information</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #B3E5FC;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: #0288D1;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        .button {
            background-color: #03a9f4;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <%- include("doctorNavBar", {doctorId: userId}) %>
        <div class="container">
            <h1>Doctor Information</h1>

            <ul>
                <li><strong>Username:</strong>
                    <div class="username">
                        <%= doctor.username %>
                    </div>

                </li>
                <li><strong>Email:</strong>
                    <div class="email">
                        <%= doctor.email %>
                    </div>
                </li>
                <li><strong>First Name:</strong>
                    <div class="fName">
                        <%= doctor.fName %>
                    </div>
                </li>
                <li><strong>Last Name:</strong>
                    <div class="lName">
                        <%= doctor.lName %>
                    </div>
                </li>
                <li><strong>Date of Birth:</strong>
                    <div class="dateOfBirth">
                        <%= doctor.dateOfBirth.toDateString() %>
                    </div>

                </li>
                <li><strong>Educational Background:</strong>
                    <div class="educationalBackground">
                        <%= doctor.educationalBackground %>
                    </div>
                </li>
                <li><strong>Hourly Rate:</strong>
                    <div class="hourlyRate">
                        <%= doctor.hourlyRate %>
                    </div>

                </li>
                <li><strong>Session Price:</strong>
                    <div class="sessionPrice">
                        <%= doctor.sessionPrice %>
                    </div>
                </li>
                <li><strong>Affiliation:</strong>
                    <div class="affiliation">
                        <%= doctor.affiliation %>
                    </div>
                </li>
                <li><strong>Specialty:</strong>
                    <div class="specialty">
                        <%= doctor.specialty %>
                    </div>
                </li>
            </ul>

            <button class="button edit-button" onclick="editDoctor(`<%= doctor._id %>`);">Edit</button>
            <button class="button done-button" style="display: none;">Done</button>
        </div>

        <script>
            function editDoctor(doctorId) {
                // Redirect to the edit page with the doctorId, or perform any other edit action here
                var usernameElement = document.querySelector('.username');
                var emailElement = document.querySelector('.email');
                var fNameElement = document.querySelector('.fName');
                var lNameElement = document.querySelector('.lName');
                var dateOfBirthElement = document.querySelector('.dateOfBirth');
                var educationalBackgroundElement = document.querySelector('.educationalBackground');
                var hourlyRateElement = document.querySelector('.hourlyRate');
                var sessionPriceElement = document.querySelector('.sessionPrice');
                var affiliationElement = document.querySelector('.affiliation');
                var specialtyElement = document.querySelector('.specialty');

                usernameElement.contentEditable = false;
                emailElement.contentEditable = true;
                fNameElement.contentEditable = false;
                lNameElement.contentEditable = false;
                dateOfBirthElement.contentEditable = false;
                educationalBackgroundElement.contentEditable = false;
                hourlyRateElement.contentEditable = true;
                sessionPriceElement.contentEditable = false;
                affiliationElement.contentEditable = true;
                specialtyElement.contentEditable = false;


                document.querySelector('.edit-button').style.display = 'none';
                document.querySelector('.done-button').style.display = 'block';

                // Add event listener to the done button
                document.querySelector('.done-button').addEventListener('click', function () {
                    // Prepare data for patch request
                    var updatedDoctor = {
                        email: emailElement.innerText,
                        hourlyRate: hourlyRateElement.innerText,
                        affiliation: affiliationElement.innerText,
                    };

                    fetch(`/doctors/doctorProfile/${doctorId}`, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(updatedDoctor)
                    })

                        .then(response => {
                            if (response.ok) {
                            } else {
                                throw new Error('Failed to update package');
                            }
                        })
                        .catch(error => {
                            // Handle errors
                            console.error(error);
                        });

                    // Make the elements non-editable again
                    usernameElement.contentEditable = false;
                    emailElement.contentEditable = false;
                    fNameElement.contentEditable = false;
                    lNameElement.contentEditable = false;
                    dateOfBirthElement.contentEditable = false;
                    educationalBackgroundElement.contentEditable = false;
                    hourlyRateElement.contentEditable = false;
                    sessionPriceElement.contentEditable = false;
                    affiliationElement.contentEditable = false;
                    specialtyElement.contentEditable = false;

                    document.querySelector('.edit-button').style.display = 'block';
                    document.querySelector('.done-button').style.display = 'none';

                });
            }
        </script>
</body>

</html>