<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Doctors</title>
    <style>
        body {
            background-color: #0288D1;
            color: #ffffff;
            font-family: Arial, sans-serif;
            padding: 20px;
            margin: 0;
        }

        h1 {
            text-align: center;
        }

        .search-bar {
            background-color: #B3E5FC;
            border-radius: 10px;
            margin-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 10px;
            /* Adjust padding to provide space between the inputs and the div border */
            box-sizing: border-box;
            /* Ensures padding and border are included in the total width/height */
        }

        .search-input-group {
            flex: 1 1 calc(48% - 20px);
            /* Adjust width for smaller screens and add some space between inputs */
            margin-bottom: 10px;
            /* Add bottom margin for separation between input groups */
        }

        .search-input-group label,
        .search-input-group input,
        .search-input-group select {
            display: block;
            margin-bottom: 5px;
            color: #212121;
        }

        .search-input,
        #specialtyFilter {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 100%;
            box-sizing: border-box;
            /* Ensures padding and border are included in the total width */
        }

        .search-button {
            background-color: #03a9f4;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }

        .doctor-item {
            background-color: #B3E5FC;
            color: #212121;
            padding: 10px;
            margin-bottom: 10px;
            /* Add margin bottom for better separation between doctor items */
            border-radius: 5px;
        }

        .divider {
            border-top: 1px solid #bdbdbd;
            margin: 10px 0;
        }
    </style>
</head>

<body>
    <%- include("patientNavBar", {patientId: userId}) %>
        <h1>List of Doctors</h1>

        <div class="search-bar">
            <form action="/patients/searchForDoctors/<%= userId %>" method="get">
                <div class="search-input-group">
                    <label for="fName">Search by First Name:</label>
                    <input type="text" id="fName" name="fName" class="search-input">
                </div>

                <div class="search-input-group">
                    <label for="lName">Search by Last Name:</label>
                    <input type="text" id="lName" name="lName" class="search-input">
                </div>

                <div class="search-input-group">
                    <label for="specialty">Search by Specialty:</label>
                    <input type="text" id="specialty" name="specialty" class="search-input">
                </div>
                <button type="submit" class="search-button">Search</button>
            </form>

            <form action="/patients/filterDoctors/<%= userId %>" method="get">
                <div class="search-input-group">
                    <label for="specialty">Filter by Specialty:</label>
                    <select id="specialtyFilter" name="specialty" class="search-input">
                        <option value="">All</option>
                        <% uniqueSpecialties.forEach(doctorSpecialty=> { %>
                            <option value="<%= doctorSpecialty %>">
                                <%= doctorSpecialty %>
                            </option>
                            <% }); %>
                    </select>
                </div>

                <div class="search-input-group">
                    <label for="date">Available On Date:</label>
                    <input type="datetime-local" id="date" name="date" class="search-input">
                </div>
                <button type="submit" class="search-button">Filter</button>

            </form>
        </div>


        <% if (locals.doctors && doctors.length> 0) { %>
            <ul>
                <% doctors.forEach(doctor=> { %>
                    <li class="doctor-item">
                        <a href="/patients/doctorDetails/<%= userId %>/<%= doctor._id %>">
                            <h2>
                                <%= doctor.name %>
                            </h2>
                            <p><strong>Session Price:</strong> $<%= doctor.sessionPrice %>
                            </p>
                            <p><strong>Specialty:</strong>
                                <%= doctor.specialty %>
                            </p>
                        </a>
                    </li>
                    <div class="divider"></div>
                    <% }); %>
            </ul>
            <% } else { %>
                <p>No doctors found in the database.</p>
                <% } %>

</body>

</html>