<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription Details</title>
    <style>
        body {
            background-color: #b3e5fc; /* Light Primary Color */
            color: #212121; /* Primary Text Color */
            font-family: Arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .prescription-details-container {
            background-color: #0288d1; /* Dark Primary Color */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px #757575;
            text-align: center;
        }

        .prescription-details {
            margin-top: 20px;
            color: #ffffff; /* Text/Icons Color */
        }
    </style>
</head>

<body>
    
    <div class="prescription-details-container">
        <h1>Prescription Details</h1>
    <div id="prescriptionsDetails-container">
    
        <div class="prescription-item">
          <h2>Medication: <%= prescription.medication %></h2>
          <p>Dosage: <%= prescription.dosage %></p>
          <p>Is Filled: <%= prescription.isFilled %></p>
          <p>Date: <%= prescription.date %></p>
          <p>Notes: <%= prescription.notes %></p>
        </div>
        <br>
      
    </div>
    <p class="error-message" id="error-message"></p>
    </div>
</body>

</html>
