<% if (locals.mypatients && mypatients.length > 0) { %>
    <ul>
        <% mypatients.forEach(patients => { %>
            <li class="patient-item">
                <h2><%= patients.fName %> <%= patients.lName %></h2>
                <p><strong>Email:</strong> <%= patients.email %></p>
                <p><strong>Date of Birth:</strong> <%= patients.dateOfBirth.toDateString() %></p>
                <p><strong>Gender:</strong> <%= patients.gender %></p>
                <p><strong>Phone Number:</strong> <%= patients.phoneNum %></p>
                <!-- Add more patient details as needed -->
                <a href="doctors/selectpatient/<%= userID %>/<%= patient._id %>" class="select-button">Submit</a>
                <a href="#" class="select-button" onclick="choosePatient('<%= patient._id %>')">Select this patient</a>
            </li>
            <div class="divider"></div>
        <% }); %>
    </ul>
<% } else { %>
    <p>No patients found in the database.</p>
<% } %>
