<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Details</title>
    <style>
        body {
            background-color: #0288D1;
            color: #ffffff;
            font-family: Arial, sans-serif;
            padding: 20px;
            margin: 0;
        }

        .container {
            background-color: #B3E5FC;
            padding: 20px;
            border-radius: 10px;
        }

        .details-item {
            margin-bottom: 15px;
        }

        .details-label {
            font-weight: bold;
            color: #448aff;
        }

        .divider {
            border-top: 1px solid #bdbdbd;
            margin: 20px 0;
        }
    </style>
</head>

<body>
    <%- include("patientNavBar", {patientId: userId}) %>
        <div class="container">
            <div class="details-item">
                <span class="details-label">Doctor:</span>
                <%= prescription.doctor.fName %>
                    <%= prescription.doctor.lName %>
            </div>
            <div class="details-item">
                <span class="details-label">Medication:</span>
                <%= prescription.medication %>
            </div>
            <div class="details-item">
                <span class="details-label">Dosage:</span>
                <%= prescription.dosage %>
            </div>
            <div class="details-item">
                <span class="details-label">Has it been Filled?:</span>
                <%= prescription.isFilled ? "Yes" : "No" %>
            </div>
            <div class="details-item">
                <span class="details-label">Date:</span>
                <%= prescription.date.getFullYear(); %>-<%= prescription.date.getMonth()+1; %>-<%=
                            prescription.date.getDate(); %>
            </div>
            <div class="details-item">
                <span class="details-label">Note:</span>
                <%= prescription.notes %>
            </div>
            <div class="divider"></div>
        </div>
</body>

</html>