<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Prescriptions</title>
  <style>
    body {
      background-color: #0288D1;
      color: #ffffff;
      font-family: Arial, sans-serif;
      padding: 20px;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .filters {
      background-color: #B3E5FC;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 80%;
    }

    .filters label,
    .filters input,
    .filters select,
    .filters button {
      margin-bottom: 10px;
      color: #212121
    }

    .filters input,
    .filters select,
    .filters button {
      padding: 10px;
      border-radius: 5px;
      border: none;

    }

    .filters button {
      background-color: #03a9f4;
      color: #ffffff;
      cursor: pointer;
    }

    .prescription-list {
      background-color: #B3E5FC;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      width: 80%;
      text-align: center;
      overflow: auto;
    }

    .prescription-item {
      background-color: #ffffff;
      color: #212121;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <%- include("patientNavBar", {patientId: userId}) %>
    <div class="filters">
      <form action="/patients/filterThePrescription/<%= userId %>" method="get">
        <label for="doctor">Doctor:</label>
        <select id="doctor" name="doctor">
          <option value="">All</option>
          <% doctorsSet.forEach(doctor=> { %>
            <option value="<%= doctor.username %>">
              <%= doctor.username %>
            </option>
            <% }); %>
        </select>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date">

        <label for="isFilled">Filled:</label>
        <select id="isFilled" name="isFilled">
          <option value="">All</option>
          <option value="true">Filled</option>
          <option value="false">Unfilled</option>
        </select>

        <button type="submit">Apply Filters</button>
      </form>
    </div>

    <div class="prescription-list">
      <h1>Prescription List</h1>
      <div id="prescriptions-container">
        <% prescriptions.forEach(prescription=> { %>
          <div class="prescription-item">
            <a href="/patients/selectPrescription/<%= userId %>/<%= prescription._id %>">
              <h2>Medication: <%= prescription.medication %>
              </h2>
              <p>Doctor: Dr. <%= prescription.doctor.fName %>
                  <%= prescription.doctor.lName %>
              </p>
              <p>Is Filled: <%= prescription.isFilled %>
              </p>
              <p>Date: <%= prescription.date.getFullYear(); %>-<%= prescription.date.getMonth()+1; %>-<%=
                      prescription.date.getDate(); %>
              </p>
            </a>
          </div>
          <br>
          <% }); %>
      </div>
      <p class="error-message" id="error-message"></p>
    </div>
</body>

</html>