<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Members</title>
    <style>
        body {
            background-color: #0288D1;
            color: #ffffff;
            font-family: Arial, sans-serif;
        }

        .family-member {
            background-color: #B3E5FC;
            color: #212121;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
        }

        .divider {
            border-top: 1px solid #bdbdbd;
            margin: 10px 0;
        }
    </style>
</head>

<body>
    <%- include("patientNavBar", {patientId: userId}) %>
        <h1>Registered Family Members</h1>

        <% if (locals.patientFamily && locals.patientFamily.length> 0) { %>
            <ul>
                <% patientFamily.forEach(familyMembers=> { %>
                    <li class="family-member">
                        <h2>
                            <%= familyMembers.fName %>
                                <%= familyMembers.lName %>
                        </h2>
                        <p><strong>National ID:</strong>
                            <%= familyMembers.nationalID %>
                        </p>
                        <p><strong>Gender:</strong>
                            <%= familyMembers.gender %>
                        </p>
                        <p><strong>Date of Birth:</strong>
                            <%= familyMembers.dateOfBirth.toDateString() %>
                        </p>
                        <p><strong>Relationship:</strong>
                            <%= familyMembers.relationship %>
                        </p>
                    </li>
                    <div class="divider"></div>
                    <% }); %>
            </ul>
            <% } else { %>
                <p>No registered family members found.</p>
                <% } %>

</body>

</html>